.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@font-face {
  font-family: simplifica;
  src: url(sansation_light.woff);
}

h1 {
  letter-spacing: 8px;
  font-family: simplifica;
  font-size: 45px
}
h2 {letter-spacing: 2px}
h2 {font-family: simplifica}
body {background-color: #F5FFFA}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}
p {font-family: simplifica; font-size: 22px}

.topnav {
  background-color:	#483D8B;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: 	#E0FFFF;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
